@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Importa a biblioteca do FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');









.esconde-tabela{
    display: none;
}

.mostra-tabela{
    display: unset;
}


/* ESTILIZAÇAO Pops*/
.pop-up {
    position: fixed;
    width: 25vw;
    left: 85%;
    bottom: 2px;
    transform: translate(-50%, -50%);
    background-color:#ffba00; /*rgb(3, 17, 80);*/
    border: 1px solid black;
    display: none;
    border-radius: 8px;
    color: #141414;
}
  
.pop-up-conteudo {
    text-align: justify;
    font-size: 1vw;
    padding: 1vw;
    color: #141414;
    
}
  
.pop-up-enunciado{
    text-align: center;
    font-size: 1.1vw;
    color: #141414;

}

.pop-up-texto{
    text-align: justify;
    font-size: 1vw;
    color: #141414;

}

#botao-fechar {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 2vw;
    height: 20px;
    border: 0px #1b1b1b;
    font-weight: bolder;
    color: #fc0404;
  }

.risco {
    position: absolute;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    left: 90%;
    bottom: -6px;
    margin-left: -6px;
    background-color: #ffba00;
    z-index: -1;
  }

/*ESTILIZAÇAO HOME*/
.ajuda {
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #011429;
    color: rgb(252, 252, 252);
    font-size: 24px;
    text-align: center;
    line-height: 50px; 
}

.ajuda:hover {
    
    background-color: #0876f5;
}


.reconhecimento {
    position: fixed;
    bottom: 50px;
    right: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #022246;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 50px; 
}

body{display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Karla';
    flex-direction: column;
    width: 100vw;
    background: #466d7e;
}

#principal {

    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Karla';
    flex-direction: column;
    width: 100vw;
    background: #466d7e;

}

.logo-grupo{
    cursor: pointer;
    width: 30vw;
}

.logo-grupo:hover{
    background-color: #809ba749; 
    border-radius: 15px;

}

header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


h1{   
    display: flex;
    font-family: 'Karla';
    font: bold;
    text-align: center;
    font-size: 30px;
    color: #f8f8f8;
}

button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Karla';
    font-size:1vw;
    width: 10vw;
    height: 70px;
    color: rgb(255, 255, 255);
    background: #0c408800;
    border-radius: 10px;
    border: 1px solid #fdfdfd;

}

button:hover{
    background-color:#045172b4;
   
}

#botoes,#menu-opc, #estiliza_menu-ramal {
    cursor: pointer;
    width: 38vw;
    height: 450px;
    margin-bottom: 20px;
    border-radius: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #022331bd; 
}

#icone{
    width: 2vw;
    padding: 0.25vw;
}



.linha_01, .linha_02, .linha_03 {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #1B1C1D;
    height: 60px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Karla';
    font-size: 15px;  
    margin-top: 2vw;
}

p {
    color: azure;
}

#contatos{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    align-items: center;
    font-weight: normal;
    justify-content: space-evenly;
    font-family: 'Arial';
    font-size: 10px;
}

.redes_sociais {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;

}

.rede_social{
    cursor: pointer;
    width: 40px;
}

.rede_social:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    width: 40px;
}

.contato_img{
    display: flex;
    align-items: center;
}

/* ESTILIZAÇAO PAGINA DE NORMAS*/
.norma{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    
}

.bot_normas {
    cursor: pointer;
    display: flex;
    font-family: 'Karla';
    font-size: 10px;
    font-weight: bold;
    width: 25vw;
    height: 50px;
    border-radius: 15px;
    border: 1px solid transparent;
    background: transparent;
    color: rgb(255, 255, 255);

}

.bot_normas:hover {
    cursor: pointer;
    background-color:lightseagreen;
}

#estiliza_normas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.livro:hover{
    cursor: pointer;
    background-color:lightseagreen;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

/* ESTILIZAÇAO PAGINA DE CONVENIO*/

.convenio{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

#estiliza_convenio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 720px;
}

.img_conv{
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
}

.img_conv:hover{
    cursor: pointer;
    background-color:rgb(255, 255, 255);
}

.bot_conv {
    cursor: pointer;
    display: flex;
    font-family:  'San serif';
    font-size: 20px;
    font-weight: bold;
    width: 40vw;
    height: 60px;
    border-radius: 15px;
    border: 1px solid transparent;
    background: transparent;

}

.bot_conv:hover {
    cursor: pointer;
    background-color:rgb(255, 255, 255);
}

.titulo_convenio{
    font-family: 'Karla';
    font: bold;
    font-size: 80px;
}

/* ESTILIZAÇAO PAGINA DE MENU RAMAIS*/



.opc_ramal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height: 450px;

}

.organiza_menu-ramal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;
}

#iconeramal{
    width: 2vw;
}

#open,#vetor,#brizza{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Karla';
    font-size:15px;
    width: 10vw;
    height: 87px;
    color: rgb(255, 255, 255);
    background: #0c408800;
    border-radius: 8px;
    border: 1px solid #fdfdfd;
}

#open:hover,#vetor:hover,#brizza:hover{
    background-color:#045172b4;
}

#opc-Brizza{
    display: none;
}
/* ESTILIZAÇAO PAGINA DE LINK hYUNDAI*/
/* ESTILIZAÇAO PAGINA DE LINK MITSUBISH*/
/* ESTILIZAÇAO PAGINA DE LINK RENAULT*/


.menu-opc-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40vw;

}

.organizaOpcs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    height: 450px;
}

.selecionaOpc-favoritos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Karla';
    font-size:1vw;
    width: 10vw;
    height: 70px;
    color: rgb(255, 255, 255);
    background: #0c408800;
    border-radius: 10px;
    border: 1px solid #fdfdfd;
    
    
    
   
}

.selecionaOpc-favoritos:hover{
    background-color:#045172b4;
   
}


#estiliza_LinkRENAULT, #estiliza_LinkMit,#estiliza_LinkHYUNDAI{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 800px;
}

.img_estrelaopc{
    width: 1.5vw;
}

.pop-up-enunciadoLinks{
    text-align:center;
    font-size: 1vw;
    color: #141414;

}

.links{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.titulo_link{
    font-family: 'Karla';
    justify-content: center;
    color:#ececec;
    font-weight: 900;
    text-align: center;
    font-size: 2.5vw;
}

.esconde_link{
    display: none;
}

.mostra_link{
    display: 'flex';
}

.img_estrela{
    width: 40px;
    height: 40px;
}

.img_estrela:hover{
    background-color: #022331bd; 
    border-radius: 5px;
}


.bot_link{
    cursor: pointer;
    display: flex;
    font-family: 'Karla';
    font-size: 25px;
    width: 25vw;
    height: 50px;
    border-radius: 15px;
    border: 1px solid transparent;
    background: transparent;
    color: #ececec;
}

.bot_link:hover{
    cursor: pointer;
    background-color: #022331bd; 
}


@media (min-width:200px) and (max-width: 800px){
    .logo-grupo{
        width: 60vw;
    }

    h1{   
        font-size: 4vw;
    }

    .ajuda {
        width: 7vw;
        height: 7vw;
        font-size: 5vw;
    }

    button{  
        font-size: 2vw;
        width: 15vw;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #fdfdfd;
    
    }
    
    #botoes {
        width: 60vw;
        height: 450px;
        border-radius: 5px;
    }

    #icone{
        width: 3vw;
        
    }

    .linha_01, .linha_02, .linha_03 {
        width: 60vw;
    }

    footer{
        height: 30px;
        font-size: 1px;  
        margin-top: 60vw;
        clear: both;
    }
   
    #contatos{
        width: 100vw;
        height: 20px;
        font-size: 5px;
    }

    .rede_social{
        cursor: pointer;
        width: 10px;
    }



    .pop-up {
        position: fixed;
        width: 60vw;
        left: 60%;
        bottom: 30px;
    }
      
    .pop-up-conteudo {
        font-size: 2vw;
    }
      
    .pop-up-enunciado{
        font-size: 2.5vw;
        color: #141414;
    
    }
    
    .pop-up-texto{
        font-size: 2vw;
    }
    
    #botao-fechar {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 2vw;
        height: 20px;
        border: 0px #1b1b1b;
        font-weight: bolder;
        color: #fc0404;
      }
    
    .risco {
        position: absolute;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        width: 10px;
        height: 10px;
        transform: rotate(-45deg);
        left: 90%;
        bottom: -6px;
        margin-left: -6px;
        background-color: #ffba00;
        z-index: -1;
      }


    #menu-opc{
        
        width: 60vw;
        height: 450px;
        border-radius: 10px;
    }
    
    .menu-opc-button{  
        width: 60vw;  
    }
    
    .organizaOpcs{
        width: 60vw;
        height: 450px;
    }
    
    .selecionaOpc-favoritos{
        font-size:2vw;
        width: 15vw;
        border-radius: 5px;
        border: 1px solid #fdfdfd;        
       
    }   
    
    .img_estrelaopc{
        width: 3vw;
    }
    
    .pop-up-enunciadoLinks{
        text-align:center;
        font-size: 1vw;
        color: #141414;
    
    }
    
    .links{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    
    .titulo_link{
        font-family: 'Karla';
        justify-content: center;
        color:#ececec;
        font-weight: 900;
        text-align: center;
        font-size: 2.5vw;
    }

     /*ESTILIZAÇAO PAGINA DE MENU RAMAIS*/

    #estiliza_menu-ramal{
        width: 60vw;
        height: 450px; 
    }

    .opc_ramal{
        width: 60vw;
        height: 450px;
    }

    .organiza_menu-ramal{
        width: 60vw;
    }

    #iconeramal{
        width: 2vw;

    }

   
    .titulo_link{
        justify-content: center;
    }
    
    #open, #vetor, #brizza{  
        font-size: 2vw;
        width: 14vw;
        height: 60px;
        border-radius: 5px;
        border: 1px solid #fdfdfd;
    
    }

    

}

@media (min-width: 1400px){

    .logo-grupo{
        cursor: pointer;
        width: 600px;
    }

    h1{   
        font-size: 50px;
    }

    button{  
        font-size: 20px;
        width: 200px;
        height: 120px;
    }
    
    #botoes,#menu-opc, #estiliza_menu-ramal {
        width: 800px;
        height: 600px; 
    }

    #icone{
        width: 8px;
        height: 8px;
    }

    .linha_01, .linha_02, .linha_03 {
        width: 900px;
    }

    footer{
        font-size: 15px;  
        margin-top: 2vw;
    }

    /*ESTILIZAÇAO PAGINA DE MENU RAMAIS*/

.opc_ramal{
    width: 800px;
    height: 600px;
}

.organiza_menu-ramal{
    width: 800px;
}


#open, #vetor, #brizza {
    font-size: 20px;
    width: 200px;
    height: 120px;
    
}

#icone{
    width: 50px;
    height: 50px;
}


/* LINKS RENAULT*/


.menu-opc-button{
    width: 100%;

}

.selecionaOpc-favoritos{
    font-size: 18px;
    width: 200px;
    height: 100px; 
}

.organizaOpcs{
    width: 700px;
    height: 500px;
}

#estiliza_LinkRENAULT, #estiliza_LinkMit,#estiliza_LinkHYUNDAI{
    width: 1000px;
    height: 800px;
}

.img_estrelaopc{
    width: 25px;
}

.pop-up-enunciadoLinks{
    font-size: 20px;

}

.links{
    width: 100vw;
}

.titulo_link{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.img_estrela{
    width: 40px;
    height: 40px;
}

.img_estrela:hover{
    background-color: #022331bd; 
    border-radius: 5px;
}


.bot_link{
    font-size: 25px;
    width: 400px;
    height: 60px;
}

}