@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*ESTILIZAÇAO HOME*/
body{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #CFCFCD 0%, rgba(233, 233, 221, 0.964409) 49.48%, #BFBFB0 100%);
}

#principal {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    height: 1000px;
    background: linear-gradient(180deg, #CFCFCD 0%, rgba(233, 233, 221, 0.964409) 49.48%, #BFBFB0 100%);
}

.logo-grupo{
    width: 20vw;
}

h1{
    font-family:'Inter';
    font: bold;
    font-size: 50px;
}

button{
    font-family: 'Inter';
    font-size:20px;
    font-weight: bold;
    width: 20vw;
    height: 100px;
    padding: 10px;
    color: azure;
    background: green;
    border-radius: 15px;
    border: 1px solid #063a1a;
    box-shadow: 0px 4px 4px rgba(2, 92, 36, 0.55);
}

button:hover{
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color:lightseagreen;
}

#botoes {
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.linha_01, .linha_02, .linha_03 {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;

}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 150px;
    background: #1B1C1D;
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-size: 15px;
}

/* ESTILIZAÇAO PAGINA DE NORMAS*/
.norma{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

.bot_normas {
    display: flex;
    font-family: 'Inter';
    font-size: 10px;
    font-weight: bold;
    width: 25vw;
    height: 50px;
    border-radius: 15px;
    border: 1px solid transparent;
    background: transparent;

}

.bot_normas:hover {
    background-color:lightseagreen;
}

#estiliza_normas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.livro:hover{
    background-color:lightseagreen;
    border-radius: 10px;
}