
div{ width: 960px; height:600px; margin: 0 auto; position: relative; }

.caixa{
  width: 200px;
  height: 100px; 
  background: #6b5cf3;
  margin: 0 auto;
  border-radius: 20px;
  border: 3px solid #575656;
}

#botao_organolista{
    width: 200px;
    height: 100px; 
    background: #6b5cf3;
    margin: 0 auto;
    border-radius: 20px;
    border: 3px solid #575656;
}

#botao_organolista:hover{
    background: #0be21d;
}


p{
  font-size: 5pt;
  text-align: center;  
  font-family:arial;
  padding: 10px;
}

.financeiro{
  position: absolute;
  top: 150px;
  left: 100px;
}

.contabilidade{
  position: absolute;
  top: -4px;
  left: 515px;
  z-index:1;
}

.ti-cont{
   position: absolute;
  top: 290px;
  left: 220px;
}

.prod{
    position: absolute;
  top: 458px;
  left: 145px;
}

.prod-aligin{
   top: 434px;
}

.log{
    position: absolute;
  top: 458px;
  left: 604px;
}

.com{
  position: absolute;
  top: 458px;
  left: 374px;
}

.ponto_cima{
   width: 10px;
  height: 10px;
  background-color: #ededed;
  display: block;
  border: 2px solid orange;
  border-radius: 10px;
  margin: -10px auto;
}




.top{
  position: relative;
  top: 0px;
  left: 3px;
}
.top-log{
  left: 0px;
}

.top-prod{
  left: 0px;
}

.ponto_direito{
   width: 10px;
  height: 10px;
  background-color: #ededed;
  display: block;
  border: 2px solid orange;
  border-radius: 10px;
  position: relative;
  top: -35px;
  left: 503px;
}

.ponto_esquerdo{
   width: 10px;
  height: 10px;
  background-color: #ededed;
  display: block;
  border: 2px solid orange;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 200px;
  z-index:2;
}

.linha_vertical{
  width: 6px;
  height: 90px;
  background-color: #b3b2b2;
  display: block;
  margin: 10px auto;
  position: relative;
}



.v-line-small{
  height: 20px;
 
}

.circle-line{
  position: relative;
  top: -37px;
}

.cl-log{
  position: relative;
  top: -82px;
}

.linha_horizantal{
  width: 295px;
  height: 6px;
  background-color: #b3b2b2;
  display: block;
  position: absolute;
  top: 44px;
  left: 208px;
  
}

.h-line-big{
  position: absolute;
  width: 465px;
  top: 428px;
  left: 245px;
}


/* FINANCEIRO*/

.ponto_cima_financeiro{
    width: 10px;
  height: 10px;
  background-color: #ededed;
  display: block;
  border: 2px solid orange;
  border-radius: 10px;
  margin: -0px auto;
  margin-top: 10px;
}

.linha_vertical_financeiro{
    width: 6px;
    height: 50px;
    background-color: #b3b2b2;
    display: block;
    margin: 0px auto;
    position: relative;
}
